
.tile{
    padding:1em 0;
    p{
        font-size: 2rem;
    }
    .fontBold{
        font-weight: bold;
    }
    .equation{
        font-size: .8rem;
        height: .8rem;
        width: .8rem;
    }
}
.justify-right{
    display:flex;
    flex-direction: column;
    align-items:flex-end;
}

.select{
    border: transparent;
    background-color: transparent;
    color: hsl(0, 0%, 50%);
    text-transform: capitalize;
    option{background: inherit;}
}

.button{
    color: $mainTextColor;
    border: none;
    background: transparent;
    &__normal{
        background: $mainButtonBg;
        font-size: 1.5rem;
    }
    &__special{
        font-size: .95rem;
        background: $secondaryButtonBg;
    }
    
    &:hover,&:active{background: $accentButtonBg}
}
