.nav{
    display:flex;
    &__burger{
        $size: 2.5rem;
        width: $size;
        height: $size;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap: 10%;
        &:hover,&:active{
            background: $secondaryTextColor;
        }
        div{
            width: 50%;
            height: 3%;
            background: $mainTextColor;
        }
    }
}
.converterTile{
    padding:1em 0;
    p{
        font-size: 2rem;
    }
    .fontBold{
        font-weight: bold;
    }
}

.select{
    border: transparent;
    background-color: transparent;
    color: hsl(0, 0%, 50%);
    text-transform: capitalize;
    option{background: inherit;}
}

.button{
    color: $mainTextColor;
    border: none;
    background: transparent;
    &__normal{
        background: $mainButtonBg;
        font-size: 1.5rem;
    }
    &__special{
        font-size: .95rem;
        background: $secondaryButtonBg;
    }
    
    &:hover,&:active{background: $accentButtonBg}
}
