.App{
    max-width: 375px;
    max-height: 667px;
    width: 100%;
    height: 100%; 
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: $mainLayoutBg;
    color: $mainTextColor;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding: .5em;
    overflow:hidden;
}
.nav{
    position:relative;
    display:flex;
    align-items:Center;
    gap: .5em;
    &__burger{
        $size: 2.5rem;
        width: $size;
        height: $size;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap: 10%;
        position:relative;
        z-index: 100;
        &:hover,&:active{
            background: $secondaryTextColor;
        }
        div{
            width: 50%;
            height: 3%;
            background: $mainTextColor;
        }
    }
    &__list{
        position:fixed;
        left: 0;
        top: 0;
        background: $navBg;
        width: 80%;
        height: 100%;
        padding: 4em .5em;
        transition: .3s ease-in-out;
        div{
            display:flex;
            flex-direction:column;
        }
        span{
            font-weight: bold;
            text-transform: capitalize;
            padding: .5em;
        }
        label{
            padding: .5em 0;
            &:hover,&:active{
                background: $secondaryTextColor;
            }
        }
        input{display:none;}
    }
    .hidden{
        transform: translateX(-100%);
        visibility: hidden;
        opacity: 0;
    }
}
.tileCon{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    min-width: 50%;
}

.buttonCon{
    height: 50%;
    display:grid;
    grid-template: repeat(5,1fr) / repeat(3,1fr);
    gap: 3px;
}